.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

  .bottom-nav .Mui-selected {
    color: #2AC420 !important;
}


.center-icon {
  border-radius: 50%; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
  .bottom-nav {
    padding: 8px;
  }
  .bottom-nav .MuiBottomNavigationAction-root {
    font-size: 20px;
  }
}